<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Bootstrap Form with Validation</title>
    <style>
        .btn {
            background-color: rgb(66, 182, 105);
            color: #ffffff;
        }

        h2,a {
            color: rgb(66, 182, 105);
        }

        .btn:hover {
            background-color: rgb(19, 102, 47);
            color: #ffffff;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            width: 500px;
            padding: 20px;
        }

        .btn-center {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Change Password</h2>

                <!-- Registration form -->
                <form method="post" id="changePassword">


                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter your password">
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword"
                            placeholder="Confirm your password">
                    </div>

                    <div class="text-danger" id="errorMessages"></div>
                    <div class="btn-center">
                        <button type="submit" class="btn ">Register</button>
                    </div>
                </form>
                <a href="/">Back to home</a>
                <% if(typeof message!=='undefined' ){ %>
                    <p style="color: green;">
                        <%= message %>
                    </p>
                    <% } %>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Handle form submission
        const changePasswordForm = document.getElementById('changePassword')
        changePasswordForm.addEventListener('submit', function (event) {
            event.preventDefault();

            // Clear previous error messages
            document.getElementById('errorMessages').textContent = '';

            // Get form field values

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            // Basic email format validation
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                displayError("Invalid email format");
                return;
            }
            if (email === '') {
                displayError("Email can not be empty");
                return;
            }
            if (password === '' || confirmPassword === '') {
                displayError("Password can not be empty");
                return;
            }
            if (password.length < 6) {

                displayError("Password must contain minimum 6 letters");
                return;
            }
            // Password matching validation
            if (password !== confirmPassword) {
                displayError("Passwords do not match");
                return;
            }

            // Form data is valid, you can proceed with submission here
            // For demonstration, we'll just display a success message
            changePasswordForm.submit()
        });

        function displayError(errorMessage) {
            document.getElementById('errorMessages').textContent = errorMessage;
        }
    </script>
</body>

</html>